@font-face {
  font-family: "iconfont";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/iconfont-hadis.woff2") format("woff2");
}

.iconfont {
  display: inline-block;
  font-family: "iconfont" !important;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tag::before { content: "\e628"; }
.icon-book-mark-line::before { content: "\e6bb"; }
.icon-to-up::before { content: "\e6bc"; }
.icon-night::before { content: "\e6fa"; }
.icon-light::before { content: "\e6ff"; }
.icon-classification::before { content: "\e72e"; }
.icon-search::before { content: "\e792"; }
.icon-arrow-r-m::before { content: "\ea22"; }
